<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      <div class="home">
        
        <div class="profile-container">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          />
          <p class="img-caption" style="text-align: right; color: #777; font-size: 0.9em; margin-top: 5px; margin-bottom: 0;">
          <i class="fa-solid fa-arrow-up" style="margin-right: 5px;"></i>
          this is a real photo
        </p>
        </div>
        {{ content }}
      </div>
    </div>
  </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
